<h3>Login with local account</h3>
<form class="ui form" [formGroup]="loginForm">
  <div class="field">
    <sm-input icon="user" class="left" label="Username" placeholder="Enter username..."
              [control]="loginForm.controls.username" name="username"></sm-input>
  </div>
  <div class="field">
    <sm-input icon="protect" class="left" label="Password" placeholder="Enter password" [control]="loginForm.controls.password"
              name="password"></sm-input>
  </div>

  <sm-button (click)="login()">Login</sm-button>
</form>
<sm-message icon="info">
  <message-content>
    <p>Username: {{loginForm.controls.username.value}}</p>
    <p>Password: {{loginForm.controls.password.value}}</p>
  </message-content>
</sm-message>
