<sm-segment class="basic">
<h2 class="ui header">Change Password</h2>
  <div *ngIf="!isSuccess">
    <div *ngIf="errorMessage">
      <sm-message class="warning" icon="warning">
        <message-header>Error</message-header>
        <message-content>{{errorMessage}}</message-content>
      </sm-message>
    </div>
    <form class="ui form" [formGroup]="changePasswordForm">
      <div class="field">
        <sm-input type="password" icon="star" class="left" label="Current Password" placeholder="Enter current password..."
                  [control]="changePasswordForm.controls.currentPassword" name="currentPassword"></sm-input>
      </div>
      <div class="field">
        <sm-input type="password" icon="star" class="left" label="New Password" placeholder="Enter new password..."
                  [control]="changePasswordForm.controls.newPassword" name="newPassword"></sm-input>
      </div>
      <div class="field">
        <sm-input type="password" icon="star" class="left" label="Confirm Password" placeholder="Re-enter new password..."
                  [control]="changePasswordForm.controls.confirmPassword" name="confirmPassword"></sm-input>
      </div>

      <sm-button [disabled]="!changePasswordForm.valid"
        (click)="changePassword(changePasswordForm.controls.currentPassword.value, changePasswordForm.controls.newPassword.value, changePasswordForm.controls.confirmPassword.value)">
        Change Password
      </sm-button>
    </form>
  </div>
  <div *ngIf="isSuccess">
    <h4>Your password has been changed successfully.</h4>
    <div>
      <a routerLink="/user-center">Back to User Center</a>
    </div>
  </div>
</sm-segment>
