<sm-segment class="basic">
<h2 class="ui header">Change Password</h2>
  <div *ngIf="!isSuccess">
    <error-message [errorMessage]="errorMessage"></error-message>
    <form class="ui form" [formGroup]="changePasswordForm">
      <div class="field">
        <sm-input type="password" icon="star" class="left" label="Current Password *" placeholder="Enter current password..."
                  [control]="changePasswordForm.controls.currentPassword" name="currentPassword"></sm-input>
        <validation-messages [control]="changePasswordForm.controls.currentPassword"></validation-messages>
      </div>
      <div class="field">
        <sm-input type="password" icon="star" class="left" label="New Password *" placeholder="Enter new password..."
                  [control]="changePasswordForm.controls.newPassword" name="newPassword"></sm-input>
        <validation-messages [control]="changePasswordForm.controls.newPassword"></validation-messages>
      </div>
      <div class="field">
        <sm-input type="password" icon="star" class="left" label="Confirm Password *" placeholder="Re-enter new password..."
                  [control]="changePasswordForm.controls.confirmPassword" name="confirmPassword"></sm-input>
        <validation-messages [control]="changePasswordForm.controls.confirmPassword"></validation-messages>
      </div>

      <sm-button [disabled]="!changePasswordForm.valid"
        (click)="changePassword(changePasswordForm.controls.currentPassword.value, changePasswordForm.controls.newPassword.value, changePasswordForm.controls.confirmPassword.value)">
        Change Password
      </sm-button>
    </form>
  </div>
  <confirmation [isSuccess]="isSuccess">
    Your password has been changed successfully.
  </confirmation>

</sm-segment>
