<form class="ui form" [formGroup]="createPasswordForm">
  <div class="field">
    <sm-input icon="user" class="left" label="Password" placeholder="Enter password..."
              [control]="createPasswordForm.controls.password" name="password"></sm-input>
  </div>
  <div class="field">
    <sm-input icon="user" class="left" label="Confirm Password" placeholder="Re-enter password..."
              [control]="createPasswordForm.controls.confirmPassword" name="confirmPassword"></sm-input>
  </div>

  <sm-button (click)="auth.createPassword()">Create</sm-button>
</form>
