<sm-segment class="basic">
  <div *ngIf="!isSuccess">
  <h2>Create Password</h2>
    <error-message [errorMessage]="errorMessage"></error-message>
  <form class="ui form" [formGroup]="createPasswordForm">
    <div class="field">
      <sm-input type="password" icon="user" class="left" label="Password *" placeholder="Enter password..."
                [control]="createPasswordForm.controls.password" name="password"></sm-input>
      <validation-messages [control]="createPasswordForm.controls.password"></validation-messages>
    </div>
    <div class="field">
      <sm-input type="password" icon="user" class="left" label="Confirm Password *" placeholder="Re-enter password..."
                [control]="createPasswordForm.controls.confirmPassword" name="confirmPassword"></sm-input>
      <validation-messages [control]="createPasswordForm.controls.confirmPassword"></validation-messages>
    </div>

    <sm-button [disabled]="!createPasswordForm.valid" (click)="createPassword(createPasswordForm.controls.password.value, createPasswordForm.controls.confirmPassword.value)">Create</sm-button>
  </form>
  </div>
  <confirmation [isSuccess]="isSuccess">
    Your password has been created successfully.
  </confirmation>

</sm-segment>
