<sm-segment class="basic">
  <h2>Forgot Password</h2>
  <sm-segment class="basic">
    <div>
      Please enter your account name aka. email address registered with Github account:
    </div>
    <sm-message icon="warning" class="warning" *ngIf="errorMessage">
      <message-header>Error</message-header>
      <message-content>{{errorMessage}}</message-content>
    </sm-message>
    <form class="ui form">
      <div class="field">
        <sm-input icon="user" class="left" label="Username" placeholder="Enter username..."
                  [control]="emailControl"></sm-input>
      </div>
      <div class="field">
        <a class="ui button" (click)="submit()">Confirm</a>
      </div>
    </form>
  </sm-segment>
</sm-segment>

<a *ngIf="url" href="{{url}}">Reset</a>




