<sm-segment class="basic">
  <h3>Forgot Password</h3>
  <sm-segment class="basic">
    <div>
      Please enter your account name aka. email address registered with Github account:
    </div>
    <error-message [errorMessage]="errorMessage"></error-message>
    <form class="ui form">
      <div class="field">
        <sm-input icon="mail" class="left" label="Username *" placeholder="Enter username..."
                  [control]="emailControl"></sm-input>
        <validation-messages [control]="emailControl"></validation-messages>
      </div>
      <div class="field">
        <a class="ui button" (click)="submit()">Confirm</a>
      </div>
    </form>
  </sm-segment>
</sm-segment>
<confirmation [isSuccess]="isSuccess">
  <div>The following link is to be sent by email to the user. Test use only:</div>
  <a class="ui button" *ngIf="url" href="{{url}}">Reset Password</a>
</confirmation>




