<sm-segment class="basic">
  <h2>Reset Password</h2>
  <div *ngIf="!isSuccess">
    <error-message [errorMessage]="errorMessage"></error-message>
    <form class="ui form" [formGroup]="resetPasswordForm">
      <div class="field">
        <sm-input type="password" icon="hashtag" class="left" label="Password *" placeholder="Enter password..."
                  [control]="resetPasswordForm.controls.password" name="password"></sm-input>
        <validation-messages [control]="resetPasswordForm.controls.password"></validation-messages>
      </div>
      <div class="field">
        <sm-input type="password" icon="hashtag" class="left" label="Confirm Password *"
                  placeholder="Re-enter password..."
                  [control]="resetPasswordForm.controls.confirmPassword" name="confirmPassword"></sm-input>
        <validation-messages [control]="resetPasswordForm.controls.confirmPassword"></validation-messages>
      </div>

      <sm-button [disabled]="!resetPasswordForm.valid" class="primary"
                 (click)="resetPassword(resetPasswordForm.controls.password.value, resetPasswordForm.controls.confirmPassword.value)">
        Reset
      </sm-button>
    </form>
  </div>
  <confirmation [isSuccess]="isSuccess">
    Your password has been reset successfully.
  </confirmation>
</sm-segment>
